# Futaba の左側シールド（futaba_left）がビルド時に指定されていたら true にするシンボル
config SHIELD_FUTABA_LEFT
    def_bool $(shields_list_contains,futaba_left)

# Futaba の右側シールド（futaba_right）がビルド時に指定されていたら true にするシンボル
config SHIELD_FUTABA_RIGHT
    def_bool $(shields_list_contains,futaba_right)
