// 標準的なキーマップのビヘイビア定義を読み込み
#include <behaviors.dtsi>

// Bluetooth 関連のビヘイビア（BT_SEL, BT_CLR など）を使うための定義を読み込み
#include <dt-bindings/zmk/bt.h>

/ {
    // キーマップを定義するノード
    keymap {
        compatible = "zmk,keymap";  // ZMKがキーマップとして認識するための識別子
 
        // デフォルトレイヤー（電源ON時やリセット後に使われる基本層）
        default_layer {
            bindings = <
                &kp ESC     &kp Q     &kp W     &kp E     &kp R     &kp T     &kp LSHIFT    &mo 1        &kp Y     &kp U     &kp I     &kp O     &kp P      &kp LANG2
                &kp LALT    &kp A     &kp S     &kp D     &kp F     &kp G     &kp SPACE     &kp ENTER    &kp H     &kp J     &kp K     &kp L     &kp LPAR   &kp LANG1
                &kp LGUI    &kp Z     &kp X     &kp C     &kp V     &kp B     &kp TAB       &kp BSPC     &kp N     &kp M     &kp COMMA &kp DOT   &kp RPAR   &kp LCTRL
            >;
        };

        layer_1 {
            bindings = <
                &kp ESC     &kp Q     &kp W     &kp E     &kp R     &kp T     &kp LSHIFT    &mo 1        &kp Y     &kp U     &kp I     &kp O     &kp P      &kp LANG2
                &kp LALT    &kp A     &kp S     &kp D     &kp F     &kp G     &kp SPACE     &kp ENTER    &kp H     &kp J     &kp K     &kp L     &kp LPAR   &kp LANG1
                &kp LGUI    &kp Z     &kp X     &kp C     &kp V     &kp B     &kp TAB       &kp BSPC     &kp N     &kp M     &kp COMMA &kp DOT   &kp RPAR   &kp LCTRL
            >;
        };
    };
};
