#include "sparkle.dtsi"

&matrix_transform {
    col-offset = <7>;
};

&kscan0 {
    matrix = <&matrix_transform>;  // ここを修正
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "row2col";  // 必要に応じて col2row に変更
    wakeup-source;

    row-gpios = <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

    col-gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                <&gpio0 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                <&gpio0 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};
